@model tutorial_mvc.Models.Test

@{
    ViewData["Title"] = "Test";
    ViewData["css"] = "home.css";
}

<form asp-action="Test" class="needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="alert-area alert alert-danger mt-3" style="vertical-align: middle;"></div>
    <div class="wrapper form-group">
        <div class="fs-3">テスト</div>
        <div class="grid" style="grid-template-columns: repeat(2, 1fr) ;">
            <div class="form-group">
                <div class="fs-6">@Html.DisplayNameFor(m => m.Text)</div>
                @Html.TextBoxFor(m => m.Text, 
                                 new { @class = "form-control", style=""}
                                 )
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="fs-6">@Html.DisplayNameFor(m => m.Check)</div>
                @Html.CheckBoxFor(m => m.Check, 
                                 new { @class = "form-control"})あり
                <span asp-validation-for="Check" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="fs-6">@Html.DisplayNameFor(m => m.Drop)</div>
                @Html.DropDownListFor(m => m.Drop, 
                                new SelectList(Model.Drop_op, "Value", "Text"),
                                 new { @class = "form-control"})
                <span asp-validation-for="Drop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="fs-6">@Html.DisplayNameFor(m => m.Listbox)</div>
                @Html.ListBoxFor(m => m.Listbox, 
                                new SelectList(Model.Listbox_op, "Value", "Text"),
                                 new { @class = "form-control"})
                <span asp-validation-for="Listbox" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="button-area gap-5">
        <button class="btn btn-secondary" type="submit" style="grid-area: prev;">戻る</button>
        <button class="btn btn-primary" type="submit" style="grid-area: send;">送信</button>
        <button class="btn btn-danger" type="submit" style="grid-area: del;">削除</button>
    </div>
    </div>
</form>